%div{ id: :main }
  %noscript Please make JavaScript available in your browser

- content_for :head_content do
  %meta{ name: "resolverUrl", value: Gnc.conf.resolver_url }
  %meta{ name: "localDomain", value: Gnc.conf.server }
  %meta{ name: "dataSourcesIds", value: Gnc.conf.data_sources.to_json }
