%div{ id: :main } Please make JavaScript available in your browser

:javascript
  var $node = document.getElementById("main");
  $node.textContent = "";
  var app = Elm.Main.embed($node, {
    resolverUrl: "#{Gnc.conf.resolver_url}",
    localDomain: "#{Gnc.conf.server}",
    dataSourcesIds: #{Gnc.conf.data_sources.to_json},
  });

%script{ src: "/js/FileUpload.js" }
