!!! 5
%html
  %head
    %title
      List Resolver
    %link{ rel: "stylesheet", href: "/css/app.css", type: "text/css" }

    = yield_content :head_content
    %script{ src: "/assets/js/main.js" }
  %body
    = yield
