!!! 5
%html
  %head
    %title
      List Resolver
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Roboto:400,300,500|Roboto+Mono|Roboto+Condensed:400,700&subset=latin,latin-ext", type: "text/css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    %link{ rel: "stylesheet", href: "https://code.getmdl.io/1.2.0/material.teal-red.min.css" }

    = yield_content :head_content
    %script{ src: "/assets/js/main.js" }
  %body
    = yield
