%h2 Data Sources

%p Select a data source you want to compare with your names list

%form{ method: :post, action: "/crossmaps" }
  %input{ type: :hidden, name: :token, value: params[:token] }
  %input{ type: :submit }
  %table
    - @data_sources.each do |ds|
      %tr
        %td
          %input{ type: :radio, name: :data_source, value: ds.id }
        %td= ds.title
        %td= ds.description ? ds.description[0..100] + "..." : "Nothing!"
  %input{ type: :submit }
