@import "variables";

.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 5vw;
  flex-direction: column;
  background: $white;
}

.container__content {
  flex: 1;
  padding: 0 2em 2em;
}
