@import "pie";
@import "wizard";
@import "terms";
@import "layout";
@import "variables";

body {
  background: $lightGray;
}

.none {
  display: none;
}

.title__anchor, .title__anchor a, .title__anchor img { height: 100%; }
.title__anchor { opacity: 1; }
